.cases {
  & .suptitle {
    margin-bottom: 15px;
  }
  & .title {
    margin: 0 51px 35px;
  }
  & .description {
    margin-bottom: 37px;
  }
  &__image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}
